<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Edit Todo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Edit Todo</h1>
            <form action="{{ url_for('edit', task_id=task._id) }}" method="post" class="task-form">
                <input type="text" name="task" class="input-title" value="{{ task.task }}" required>
                <input type="text" name="description" class="input-desc" value="{{ task.description }}" required>
                <button type="submit" class="submit-button">Save</button>
            </form>
    </div>
</body>
</html>
